@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 0 100% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 60 100% 50%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 94.1176%;
    --muted-foreground: 0 0% 20%;
    --accent: 216 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 0% 0%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 0%;
    --input: 0 0% 0%;
    --ring: 0 100% 60%;
    --chart-1: 0 100% 60%;
    --chart-2: 60 100% 50%;
    --chart-3: 216 100% 50%;
    --chart-4: 120 100% 40%;
    --chart-5: 300 100% 40%;
    --sidebar: 0 0% 94.1176%;
    --sidebar-foreground: 0 0% 0%;
    --sidebar-primary: 0 100% 60%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 216 100% 50%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 0% 0%;
    --sidebar-ring: 0 100% 60%;
    --font-sans: DM Sans, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: Space Mono, monospace;
    --radius: 0px;
    --shadow-x: 4px;
    --shadow-y: 4px;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-opacity: 1;
    --shadow-color: hsl(0 0% 0%);
    --shadow-2xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.5);
    --shadow-xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.5);
    --shadow-sm:
      4px 4px 0px 0px hsl(0 0% 0% / 1), 4px 1px 2px -1px hsl(0 0% 0% / 1);
    --shadow: 4px 4px 0px 0px hsl(0, 0%, 0%), 4px 1px 2px -1px hsl(0 0% 0% / 1);
    --shadow-md:
      4px 4px 0px 0px hsl(0 0% 0% / 1), 4px 2px 4px -1px hsl(0 0% 0% / 1);
    --shadow-lg:
      4px 4px 0px 0px hsl(0 0% 0% / 1), 4px 4px 6px -1px hsl(0 0% 0% / 1);
    --shadow-xl:
      4px 4px 0px 0px hsl(0 0% 0% / 1), 4px 8px 10px -1px hsl(0 0% 0% / 1);
    --shadow-2xl: 4px 4px 0px 0px hsl(0 0% 0% / 2.5);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 20%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 20%;
    --popover-foreground: 0 0% 100%;
    --primary: 0 100% 70%;
    --primary-foreground: 0 0% 0%;
    --secondary: 60 100% 60%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 10.1961%;
    --muted-foreground: 0 0% 80%;
    --accent: 210 100% 60%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 0% 100%;
    --destructive-foreground: 0 0% 0%;
    --border: 0 0% 100%;
    --input: 0 0% 100%;
    --ring: 0 100% 70%;
    --chart-1: 0 100% 70%;
    --chart-2: 60 100% 60%;
    --chart-3: 210 100% 60%;
    --chart-4: 120 60% 50%;
    --chart-5: 300 60% 50%;
    --sidebar: 0 0% 0%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 0 100% 70%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 210 100% 60%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 0 0% 100%;
    --sidebar-ring: 0 100% 70%;
    --font-sans: DM Sans, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: Space Mono, monospace;
    --radius: 0px;
    --shadow-x: 4px;
    --shadow-y: 4px;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-opacity: 1;
    --shadow-color: hsl(0, 0%, 91%);
    --shadow-2xs: 4px 4px 0px 0px hsl(0, 0%, 91%);
    --shadow-xs: 4px 4px 0px 0px hsl(0, 0%, 91%);
    --shadow-sm:
      4px 4px 0px 0px hsl(0, 0%, 91%), 4px 1px 2px -1px hsl(0, 0%, 91%);
    --shadow: 4px 4px 0px 0px hsl(0, 0%, 91%), 4px 1px 2px -1px hsl(0, 0%, 91%);
    --shadow-md:
      4px 4px 0px 0px hsl(0, 0%, 91%), 4px 2px 4px -1px hsl(0, 0%, 91%);
    --shadow-lg:
      4px 4px 0px 0px hsl(0, 0%, 91%), 4px 4px 6px -1px hsl(0, 0%, 91%);
    --shadow-xl:
      4px 4px 0px 0px hsl(0, 0%, 91%), 4px 8px 10px -1px hsl(0, 0%, 91%);
    --shadow-2xl: 4px 4px 0px 0px hsl(0, 0%, 91%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(125%);
    opacity: 1;
  }
}

@keyframes slideTopAndBack {
  0% {
    top: 100%;
  }
  40% {
    top: 0%;
  }
  100% {
    top: 50%;
  }
}

.slide-top-back {
  animation: slideTopAndBack 2.5s ease-in-out forwards;
}

.show-error {
  display: block;
  animation: slide-in 500ms forwards;
}
